
<table  width=800px align="center" cellspacing="10" cellpadding="10">
    <tr>
        <td valign="top">
<div class="form-group" >
    <label for="selectplaneta">Seleccionar Planeta</label>
    <select class="form-control" id="selectplaneta" >
      <option>Planeta 1</option>
      <option>Planeta 2</option>
      <option>Planeta 3</option>
      <option>Planeta 4</option>
      <option>Planeta 5</option>
    </select>
</div>
</td>
<td>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="nombre" class="col-lg-10 control-label">Nombre</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="nombre"
                   placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="periodorotacion" class="col-lg-10 control-label">Periodo de Rotacion</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="periodorotacion"
                   placeholder="Periodo de Rotacion">
          </div>
        </div>
        <div class="form-group">
            <label for="perioorbital" class="col-lg-10 control-label">Periodo Orbital</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="periodoorbital"
                     placeholder="Periodo Orbital">
            </div>
        </div>
        <div class="form-group">
            <label for="diametro" class="col-lg-10 control-label">Diametro</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="diametro"
                     placeholder="Diametro">
            </div>
        </div>
        <div class="form-group">
            <label for="clima" class="col-lg-10 control-label">Clima</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="clima"
                     placeholder="Clima">
            </div>
        </div>
        <div class="form-group">
            <label for="gravedad" class="col-lg-10 control-label">Gravedad</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="gravedad"
                     placeholder="Gravedad">
            </div>
        </div>
        <div class="form-group">
            <label for="terreno" class="col-lg-10 control-label">Terreno</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="terreno"
                     placeholder="Terreno">
            </div>
        </div>
        <div class="form-group">
            <label for="superficieacuatica" class="col-lg-10 control-label">Superficie Acuatica</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="superficieacuatica"
                     placeholder="Superficie Acuatica">
            </div>
        </div>
        <div class="form-group">
            <label for="poblacion" class="col-lg-10 control-label">Poblacion</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="poblacion"
                     placeholder="Poblacion">
            </div>
        </div>
        <div class="form-group">
            <label for="residentes" class="col-lg-10 control-label">Residentes</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="residentes"
                     placeholder="Residentes">
            </div>
        </div>
        <div class="form-group">
            <label for="peliculas" class="col-lg-10 control-label">Peliculas</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="peliculas"
                     placeholder="Peliculas">
            </div>
        </div>
        
        
      </form>
    
</td>
</tr>
</table>


