
<table  width=800px align="center" cellspacing="10" cellpadding="10" border=1px >
    <tr>
        <td  valign="top">
      <div class="form-group" >
    <label for="selectpelicula">Seleccionar Peliculas</label>
    <select class="form-control" id="pelicula" [(ngModel)]="titulo" (change)="seleccionalo(titulo)" >
      <option *ngFor='let pelicula of peliculas'>{{pelicula.title}}</option>
      
    </select>
</div>
</td>
<td>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="titulo" class="col-lg-10 control-label">Titulo</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="titulo"
                   placeholder={{titulo}}>
          </div>
        </div>
        <div class="form-group">
          <label for="episodio" class="col-lg-10 control-label">Episodio</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="episodio"
                   placeholder={{episodio}}>
          </div>
        </div>
        <div class="form-group">
            <label for="openningcrawl" class="col-lg-10 control-label">Openning Crawl</label>
            <div class="col-lg-13">
              <textarea rows="4" cols="35"  placeholder={{resumen}} id="resumen"></textarea>
              
            </div>
        </div>
        <div class="form-group">
            <label for="director" class="col-lg-10 control-label">Director</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="director"
                     placeholder={{director}}>
            </div>
        </div>
        <div class="form-group">
            <label for="productor" class="col-lg-10 control-label">Productor</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="productor"
                     placeholder={{productor}}>
            </div>
        </div>
        <div class="form-group">
            <label for="fechalanzamiento" class="col-lg-10 control-label">Fecha de Lanzamiento</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="fechalanzamiento"
                     placeholder={{rfecha}}>
            </div>
        </div>
        
       
      </form>
    
</td>
<td>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="personajes" class="col-lg-10 control-label">Personajes</label>
          <div class="col-lg-13">
            <textarea rows="4" cols="35"  placeholder={{personaje}} id="personajes"></textarea>
           
          </div>
        </div>
        <div class="form-group">
          <label for="navesespaciales" class="col-lg-10 control-label">Naves Espaciales</label>
          <div class="col-lg-13">
            <textarea rows="4" cols="35"  placeholder={{nave}} id="naves"></textarea>
          </div>
        </div>
        <div class="form-group">
            <label for="planetas" class="col-lg-10 control-label">Planetas</label>
            <div class="col-lg-13">
              <textarea rows="4" cols="35"  placeholder={{planeta}} id="naves"></textarea>
            </div>
        </div>
        
        
       
      </form>  
</td>
</tr>
</table>

