
<table  width=800px align="center" cellspacing="10" cellpadding="10" border=1px >
    <tr>
        <td  valign="top">
      <div class="form-group" >
    <label for="selectpelicula">Seleccionar Peliculas</label>
    <select class="form-control" id="pelicula" >
      <option>Pelicula 1</option>
      <option>Pelicula 2</option>
      <option>Pelicula 3</option>
      <option>Pelicula 4</option>
      <option>Pelicula 5</option>
    </select>
</div>
</td>
<td>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="titulo" class="col-lg-10 control-label">Titulo</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="titulo"
                   placeholder="Titulo">
          </div>
        </div>
        <div class="form-group">
          <label for="episodio" class="col-lg-10 control-label">Episodio</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="episodio"
                   placeholder="Episodio">
          </div>
        </div>
        <div class="form-group">
            <label for="openningcrawl" class="col-lg-10 control-label">Openning Crawl</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="openningcrawl"
                     placeholder="Opennin Crawl">
            </div>
        </div>
        <div class="form-group">
            <label for="director" class="col-lg-10 control-label">Director</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="director"
                     placeholder="Director">
            </div>
        </div>
        <div class="form-group">
            <label for="productor" class="col-lg-10 control-label">Productor</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="productor"
                     placeholder="Productor">
            </div>
        </div>
        <div class="form-group">
            <label for="fechalanzamiento" class="col-lg-10 control-label">Fecha de Lanzamiento</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="fechalanzamiento"
                     placeholder="Fecha de lanzamiento">
            </div>
        </div>
        
       
      </form>
    
</td>
<td>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="personajes" class="col-lg-10 control-label">Personajes</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="personajes"
                   placeholder="Personajes">
          </div>
        </div>
        <div class="form-group">
          <label for="navesespaciales" class="col-lg-10 control-label">Naves Espaciales</label>
          <div class="col-lg-13">
            <input type="text" class="form-control" id="navesespaciales"
                   placeholder="Naves Espaciales">
          </div>
        </div>
        <div class="form-group">
            <label for="vehiculo" class="col-lg-10 control-label">Vehiculos</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="vehiculos"
                     placeholder="Vehiculos">
            </div>
        </div>
        <div class="form-group">
            <label for="especies" class="col-lg-10 control-label">Especies</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="especies"
                     placeholder="Especies">
            </div>
        </div>
        <div class="form-group">
            <label for="planetas" class="col-lg-10 control-label">Planetas</label>
            <div class="col-lg-13">
              <input type="text" class="form-control" id="planetas"
                     placeholder="Planetas">
            </div>
        </div>
        
        
       
      </form>  
</td>
</tr>
</table>

