<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-personajes" data-toggle="pill" href="#pills-personajes" role="tab" aria-controls="pills-personajes" aria-selected="true">Personajes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-peliculas-tab" data-toggle="pill" href="#pills-peliculas" role="tab" aria-controls="pills-peliculas" aria-selected="false">Peliculas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-navesespaciales-tab" data-toggle="pill" href="#pills-navesespaciales" role="tab" aria-controls="pills-navesespaciales" aria-selected="false">Naves Espaciales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-vehiculos-tab" data-toggle="pill" href="#pills-vehiculos" role="tab" aria-controls="pills-vehiculos" aria-selected="false">Vehiculos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-especies-tab" data-toggle="pill" href="#pills-especies" role="tab" aria-controls="pills-especies" aria-selected="false">Especies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-planetas-tab" data-toggle="pill" href="#pills-planetas" role="tab" aria-controls="pills-planetas" aria-selected="false">Planetas</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent" align="center">
  <div class="tab-pane fade show active" id="pills-personajes" role="tabpanel" aria-labelledby="pills-personajes-tab"><app-personajes></app-personajes></div>
  <div class="tab-pane fade" id="pills-peliculas" role="tabpanel" aria-labelledby="pills-peliculas-tab"><app-peliculas></app-peliculas></div>
  <div class="tab-pane fade" id="pills-navesespaciales" role="tabpanel" aria-labelledby="pills-navesespaciales-tab"><app-navesespaciales></app-navesespaciales></div>
  <div class="tab-pane fade" id="pills-vehiculos" role="tabpanel" aria-labelledby="pills-vehiculos-tab"><app-vehiculos></app-vehiculos></div>
  <div class="tab-pane fade" id="pills-especies" role="tabpanel" aria-labelledby="pills-especies-tab"><app-especies></app-especies></div>
  <div class="tab-pane fade" id="pills-planetas" role="tabpanel" aria-labelledby="pills-planetas-tab"><app-planetas></app-planetas></div>
</div>

<!--
<div *ngFor='let personaje of personajes'>
  
 <h2>{{ personaje.name }}</h2> 
  <p>{{ personaje.mass }}</p>
</div>
-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


